@font-face {
    font-family: caveatfont;
    src: url(../my\ project/caveatfont);
}

body
{
  display:grid;
  grid-template-columns: 1fr 10fr 1fr;

  min-height: 100vh;

}

main
{
    margin-top: 40px;
    width: 60vw;
    margin-inline: 10%;
    border-radius: 10px;
    height: 90vh;

    background-color: #FBEED7;
    grid-column: 2/3;
} 

img
{
width: 300px;
position: relative;
bottom: 30px;


}


h1
{
padding-left: 40%;
color:#16657E ;
font-family: caveatbold;
}

.eventbox
{
    margin-top: 100px;
    padding: 20px;
    color: #16657E;
    display: flex;
    align-items: center;
    justify-content: center;
}



.text
{
    padding-bottom: 50px;
    font-size: 20px;
    padding-left: 30px;
    
}