.EventMainBox
{
    color: #16657E;
    background-color: #FBEED7;

    display: flex;
    flex-direction: column;
    margin-inline: 20vw;
    padding: 10px;
    border-radius: 10px;
}
.EventMainBox #Eventh1
{
    display: flex;
    justify-content: center;
}
.eventbox
{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.eventPicture
{
    width: 40%;
}

.EventText
{
    padding-top: 4rem;
}